<app-sidenav></app-sidenav>
<div class="container mt-5 mb-5">
  <br>
  <table>
    <tr>
      <td>
        <input type="text"
        class="form-control mb-2"
        placeholder="Search Article"
        #txtSearch
        (keyup)="searchArticle(txtSearch.value)"/>
      </td>
      &nbsp;
      &nbsp;
      <td>
        <button class="btn btn-primary"
        (click)="prevPage()">
          Previous
        </button>
        &nbsp;
      </td>
      <td>
        <button class="btn btn-primary"
        (click)="nextPage()"
        [disabled]="(resultado | filtro:page:search).length === 0 ">
          Next
        </button>
        &nbsp;
      </td>
    </tr>
  </table>

  <form class="grid" [formGroup]="favoritos" (ngSubmit)="agregarFavoritos()">
    <div class="card">
      <div class="card-header">
      </div>
        <div class="card-body" *ngFor="let item of resultado | filtro:page:search">
                                  <img [src]="item.image_url" formControlName="image_url"  width="600" height="300" name="image_url" placeholder="image_url">
                                  <h5 class="card-title"  formControlName="title" name="title" placeholder="title"><b>{{item.title}}</b></h5>
                        Summary:  <p class="card-text"  formControlName="summary" name="summary" placeholder="summary">{{item.summary}} </p>
                           Site:  <p class="card-text"   formControlName="news_site" name="news_site" placeholder="news_site">{{item.news_site}} </p>
                 Published date:  <p class="card-text"  formControlName="published_at" name="published_at" placeholder="published_at">{{item.published_at  | date: 'dd MMM yyyy'}} </p>
                <!--<button type="submit" (click)="agregarFavoritos()" class="btn btn-primary">Add to FF</button>-->
                <button type="submit"class="btn btn-primary">Add to FF</button>
      </div>
    </div>
  </form>
  {{ getResultadosToAdd | json }}


</div>
