<app-sidenav></app-sidenav>
<div class="container mt-5 mb-5">
  <br>
  <table>
    <tr>
      <td>
        <input type="text"
        class="form-control mb-2"
        placeholder="Search Article"
        #txtSearch
        (keyup)="searchArticle(txtSearch.value)"/>
      </td>
      &nbsp;
      &nbsp;
      <td>
        <button class="btn btn-primary"
        (click)="prevPage()">
          Previous
        </button>
        &nbsp;
      </td>
      <td>
        <button class="btn btn-primary"
        (click)="nextPage()"
        [disabled]="(resultado | filtro:page:search).length === 0 ">
          Next
        </button>
        &nbsp;
      </td>
      &nbsp;
      &nbsp;
      <td>
        <a [routerLink]="['/home']" class="btn btn-primary">Home</a>
        &nbsp;
        <a [routerLink]="['/favoritos']" class="btn btn-primary">Favorites</a>
      </td>
    </tr>
  </table>
  <h2 style="font-family: Arial, Helvetica, sans-serif;">Home</h2>
  <div *ngFor="let item of resultado | filtro:page:search">
    <div class="card" style="width: min-content; align-content: center;" >
      <div class="card-body">
        <img [src]="item.image_url" width="600" height="400" name="image_url" placeholder="image_url">
        <h5 class="card-title"><b style="font-size: medium;">{{item.title}}</b></h5>
        <p class="card-text">Summary: {{item.summary}} </p>
        <p class="card-text">Site: {{item.news_site}} </p>
        <p class="card-text">Published date: {{item.published_at  | date: 'dd MMM yyyy'}} </p>
        <button  class="btn btn-primary" (click)="agregarFavoritos(item)">Add to FF</button>
        &nbsp;
      </div>
    </div>
  </div>
</div>


